@namespace ibooks "http://www.apple.com/2011/iBooks";
html body
{
	-ibooks-gutter-margin-left: 50.0pt;
	-ibooks-gutter-margin-right: 25.0pt;
	-ibooks-head-height: 660.0pt;
	margin: 20.0pt 50.0pt 20.0pt 200.0pt;
}

@page head
{
	::slot(media-8)
	{
		height: 348.000pt;
		left: 454.000pt;
		top: 262.000pt;
		width: 264.000pt;
		z-index: 1;
	}
	::slot(textShape-88)
	{
		height: 287.000pt;
		left: 50.000pt;
		top: 325.000pt;
		width: 355.000pt;
		z-index: 2;
	}
	::slot(textShape-4)
	{
		height: 215.000pt;
		left: 50.000pt;
		top: 40.000pt;
		width: 668.000pt;
		z-index: 3;
	}
	::slot(textShape-129)
	{
		height: 346.540pt;
		left: 432.000pt;
		top: 264.137pt;
		width: 0.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: media-8, textShape-88, textShape-4, textShape-129;
}

