@namespace ibooks "http://www.apple.com/2011/iBooks";
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
.pagebreak{
	break-after: page;
}
div.multichoice{
	list-style-type: upper-alpha;
}
p, ul, ol{
	margin: 0px;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
.columnbreak{
	break-after: column;
}
.hide{
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.inlineblock{
	display: inline;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.s1{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 133.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	margin-bottom: 14.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s2{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s3{
	-ibooks-column-count: 1;
	padding-bottom: 0.0000pt;
	padding-left: 0.0000pt;
	padding-right: 0.0000pt;
	padding-top: 0.0000pt;
	vertical-align: top;
}
.s4{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-color: #818181;
	border-bottom-style: solid;
	border-bottom-width: 0.5000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 150.0000%;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0500em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	padding-bottom: 0.0000pt;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s5{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #232323;
	font-family: "Georgia";
	font-size: 300.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s6{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #D2EBEC;
	opacity: 1.000;
	stroke: #AAAAAA;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s7{
	-ibooks-column-count: 1;
	padding-bottom: 16.0000pt;
	padding-left: 16.0000pt;
	padding-right: 16.0000pt;
	padding-top: 16.0000pt;
	vertical-align: top;
}
.s8{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.0000px;
	border-bottom-color: #818181;
	border-bottom-style: solid;
	border-bottom-width: 0.5000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 150.0000%;
	font-style: normal;
	font-variant: small-caps;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0.0500em;
	line-height: 1.500000em;
	margin-bottom: 0.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	padding-bottom: 0.0000pt;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	vertical-align: 0.0000pt;
	text-decoration: none;
}
.s9{
	padding-left: 0.0000pt;
}
.s10{
	-ibooks-bullet-baseline: 0.0000pt;
	-ibooks-list-text-indent: 30.0000pt;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #606060;
	font-family: "Georgia";
	font-size: 150.0000%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	line-height: 1.200000em;
	list-style-position: -ibooks-inside-align-to-text;
	list-style-type: decimal;
	margin-bottom: 10.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
}
.s11{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 0.5pt;
}
.s12{
	-ibooks-list-text-indent: 0.0000pt;
	-ibooks-strikethru-width: 1.0000px;
	-ibooks-underline-width: 1.0000px;
	border-bottom-style: none;
	border-bottom-width: 0.0000px;
	border-left-style: none;
	border-left-width: 0.0000px;
	border-right-style: none;
	border-right-width: 0.0000px;
	border-top-style: none;
	border-top-width: 0.0000px;
	color: #444444;
	font-family: "Georgia";
	font-size: 108.3333%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0.0000em;
	line-height: 1.000000em;
	margin-bottom: 10.0000pt;
	margin-left: 0.0000pt;
	margin-right: 0.0000pt;
	margin-top: 0.0000pt;
	tab-interval: 36.0000pt;
	tab-stops: none;
	text-align: right;
	text-indent: 0.0000pt;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0.0000pt;
}
.c1{
	background: transparent;
}
#textShape-6-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 923.000pt;
}
#textShape-1-svg{
	height: 476.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 438.000pt;
}
#textShape-6{
	-ibooks-slot: textShape-6;
	display: block;
}
#textShape-5{
	-ibooks-slot: textShape-5;
	display: block;
}
#textShape-102{
	-ibooks-slot: textShape-102;
	display: block;
}
#textShape-3{
	-ibooks-slot: textShape-3;
	display: block;
}
#textShape-1{
	-ibooks-slot: textShape-1;
	display: block;
}
#textShape-5-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 923.000pt;
}
#textShape-3-svg{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 440.000pt;
}
#textShape-1-div{
	height: 476.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 438.000pt;
}
#textShape-6-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 923.000pt;
}
#textShape-12{
	-ibooks-slot: textShape-12;
	display: block;
}
#textShape-11-svg{
	height: 277.788pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 666.788pt;
}
#textShape-11-div{
	height: 277.788pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 666.788pt;
}
#textShape-11{
	-ibooks-slot: textShape-11;
	display: block;
}
#textShape-99{
	-ibooks-slot: textShape-99;
	display: block;
}
#textShape-5-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 923.000pt;
}
#textShape-3-div{
	height: 100.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 440.000pt;
}
#textShape-12-svg{
	height: 69.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 668.000pt;
}
#textShape-12-div{
	height: 69.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 668.000pt;
}
